<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">
<style>
    /*********************************
     The list of publication items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */


/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
  margin-right: 0%;
  margin-top: 1.2em;
  margin-bottom: 1em;
  border: 1px solid silver;
  padding: 0em 1em;
  background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}</style>
<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
    </script>

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}

<em>News & Announcements </em>
<ul style="margin-top:0px;list-style-type:circle;"> 
  <li style = "margin-top:2px;margin-bottom:6px"> I gave a <a href="https://sites.google.com/view/icml2018-imitation-learning/" target="_blank">tutorial</a> on Imitation Learning, together with Professor <a href="http://www.yisongyue.com/" target="_blank">Yisong Yue</a> at the <a href="https://icml.cc/Conferences/2018/Schedule?type=Tutorial" style="color:#e77f00" target="_blank">International Conference on Machine Learning</a> (ICML) in Stockholm in July 
  2018 
  </li> 
  <li>
    I'm TA-ing an <a href="https://sites.google.com/view/cs-159-spring-2018/home" target="_blank">advanced topics course </a> at Caltech with a special focus on reinforcement learning
  </li>
</ul>


<h4 style="margin-bottom:0px;padding-top:10px;"> <font size="+1"> Preprints </font> </h4>
<!-- Generated from JabRef by PubList by Truong Nghiem at 11:44 on 2015.09.10. -->
<ul class="biblist">

<!-- Item: taylor2019acontrol -->

<li ><p>
Andrew J. Taylor, Victor D. Dorobantu, Meera Krisnamoorthy, Hoang M. Le, <a href="http://www.yisongyue.com/" target="_blank">Yisong Yue</a> and <a href="http://ames.caltech.edu/" target="_blank">Aaron D. Ames</a> <br><b>A Control Lyapunov Perspective on Episodic Learning via Projection to State Stability</b><br>
<i>(under review) </i>,
2019
<br />
<a href="https://arxiv.org/abs/1903.07214" target="_blank">[PDF]</a>
<a href="javascript:toggleBibtex('taylor2019acontrol')">[BibTeX]</a>
</p>
<div id="bib_taylor2019acontrol" class="bibtex noshow">
<pre>
@article{taylor2019acontrol,
  title={A Control Lyapunov Perspective on Episodic Learning via Projection to State Stability},
  author={Taylor, Andrew J and Dorobantu, Victor D and Krisnamoorthy, Meera and Le, Hoang M and Yue, Yisong and Ames, Aaron D},
  journal={arXiv preprint arXiv:1903.07214},
  year={2019}
}
</pre>
</div>
</li>

<!-- Item: taylor2019episodic -->

<li ><p>
Andrew J. Taylor, Victor D. Dorobantu, Hoang M. Le, <a href="http://www.yisongyue.com/" target="_blank">Yisong Yue</a> and <a href="http://ames.caltech.edu/" target="_blank">Aaron D. Ames</a> <br><b>Episodic Learning with Control Lyapunov Functions for Uncertain Robotic Systems</b><br>
<i>(under review) </i>,
2019
<br />
<a href="https://arxiv.org/abs/1903.01577" target="_blank">[PDF]</a><a href="https://github.com/vdorobantu/lyapy"  target="_blank">[code]</a>
<a href="javascript:toggleBibtex('taylor2019episodic')">[BibTeX]</a>
</p>
<div id="bib_taylor2019episodic" class="bibtex noshow">
<pre>
@article{taylor2019episodic,
  title={Episodic Learning with Control Lyapunov Functions for Uncertain Robotic Systems},
  author={Taylor, Andrew J and Dorobantu, Victor D and Le, Hoang M and Yue, Yisong and Ames, Aaron D},
  journal={arXiv preprint arXiv:1903.01577},
  year={2019}
}
</pre>
</div>
</li>

      </ul  >



<h4 style="margin-bottom:0px;padding-top:10px;"> <font size="+1"> Representative Publications </font> </h4>

    <ul class="biblist">

<!-- Item: le2019batch -->

<li ><p>
Hoang M. Le, <a href="https://www.linkedin.com/in/cameron-voloshin-3b91b6109/" target="_blank">Cameron Voloshin</a> and <a href="http://www.yisongyue.com/" target="_blank">Yisong Yue</a> <br><b>Batch Policy Learning under Constraints</b><br>
<i>International Conference on Machine Learning (ICML)</i>,
2019
<br />
<a href="https://arxiv.org/abs/1903.08738" target="_blank">[PDF]</a> <a href="https://sites.google.com/view/constrained-batch-policy-learn/"  target="_blank">[Project Page]</a>
<a href="javascript:toggleBibtex('le2019batch')">[BibTeX]</a>
</p>
<div id="bib_le2019batch" class="bibtex noshow">
<pre>
@article{le2019batch,
  title={Batch Policy Learning under Constraints},
  author={Le, Hoang M and Voloshin, Cameron and Yue, Yisong},
  journal={arXiv preprint arXiv:1903.08738},
  year={2019}
}
</pre>
</div>
</li>

<!-- Item: le2018hierarchical -->
<li ><p>
Hoang M. Le, <a href="http://nanjiang.cs.illinois.edu/" target="_blank">Nan Jiang</a>, <a href="http://alekhagarwal.net/" target="_blank">Alekh Agarwal</a>, <a href="https://www.microsoft.com/en-us/research/people/mdudik/" target="_blank">Miroslav Dud&iacute;k</a>, <a href="http://www.yisongyue.com/" target="_blank">Yisong Yue</a> and <a href="http://legacydirs.umiacs.umd.edu/~hal/" target="_blank">Hal Daum&eacute; III</a><br><b>Hierarchical Imitation and Reinforcement Learning</b><br>
<i>International Conference on Machine Learning (ICML)</i>,
2018
<br />
<a href="https://arxiv.org/abs/1803.00590" target="_blank">[PDF]</a> <a href="https://sites.google.com/view/hierarchical-il-rl"  target="_blank">[Project Page]</a>
<a href="javascript:toggleBibtex('le2018hierarchical')">[BibTeX]</a>
</p>
<div id="bib_le2018hierarchical" class="bibtex noshow">
<pre>
@inproceedings{le2018hierarchical,
  title={Hierarchical Imitation and Reinforcement Learning},
  author={Le, Hoang and Jiang, Nan and Agarwal, Alekh and Dudik, Miroslav and Yue, Yisong and Daum{\'e}, Hal},
  booktitle={International Conference on Machine Learning},
  pages={2923--2932},
  year={2018}
}
</pre>
</div>
</li>

    <!-- Item: le2017coordinated -->
<li ><p>
Hoang M. Le, <a href="http://www.yisongyue.com/" target="_blank">Yisong Yue</a>, <a href="https://www.linkedin.com/in/peter-carr-b4665211/" target="_blank">Peter Carr</a> and <a href="http://patricklucey.com/index.html" target="_blank">Patrick Lucey</a>
<br><b>Coordinated Multi-Agent Imitation Learning</b><br>
<i>International Conference on Machine Learning (ICML)</i>,
2017
<br />
<a href="http://proceedings.mlr.press/v70/le17a.html">[PDF]</a> 
<a href="../papers/icml2017_coordinated_long.pdf">[long]</a> 
<a href="javascript:toggleBibtex('le2017coordinated')">[BibTeX]</a>
</p>
<div id="bib_le2017coordinated" class="bibtex noshow">
<pre>
@inproceedings{le2017coordinated,
  title={Coordinated Multi-Agent Imitation Learning},
  author={Le, Hoang M and Yue, Yisong and Carr, Peter and Lucey, Patrick},
  booktitle={International Conference on Machine Learning},
  pages={1995--2003},
  year={2017}
}
</pre>
</div>
</li>


<!-- Item: le2017data -->
<li ><p>
Hoang M. Le, <a href="https://www.linkedin.com/in/peter-carr-b4665211/" target="_blank">Peter Carr</a>,<a href="http://www.yisongyue.com/" target="_blank">Yisong Yue</a> and <a href="http://patricklucey.com/index.html" target="_blank">Patrick Lucey</a>
<br><b>Data-Driven Ghosting using Deep Imitation Learning</b><br>
<i>MIT Sloan Sports Analytics Conference (SSAC)</i>,
2017
<br/>
<i><font color="#e77f00">(Best Paper Runner-Up Award)</font> </i>
<br/>
<a href="http://www.sloansportsconference.com/wp-content/uploads/2017/02/1671-2.pdf" target="_blank">[PDF]</a> <a href="https://www.disneyresearch.com/publication/data-driven-ghosting/"  target="_blank">
[Project Page]</a> <a href="https://www.youtube.com/watch?time_continue=17&v=WI-WL2cj0CA"  target="_blank">
[Video Demo]</a>
<a href="javascript:toggleBibtex('le2017data')">[BibTeX]</a>
</p>
<div id="bib_le2017data" class="bibtex noshow">
<pre>
@article{le2017data,
  title={Data-Driven Ghosting using Deep Imitation Learning},
  author={Le, Hoang M and Carr, Peter and Yue, Yisong and Lucey, Patrick}
  journal={MIT Sloan Sports Analytics Conference (SSAC)},
  year={2017}
}
</pre>
</div>
</li>


<!-- Item: le2016smooth -->
<li ><p>
Hoang M. Le, <a href="https://aekkang.github.io/" target="_blank">Andrew Kang</a>, <a href="http://www.yisongyue.com/" target="_blank">Yisong Yue</a> and <a href="https://www.linkedin.com/in/peter-carr-b4665211/" target="_blank">Peter Carr</a>
<br><b>Smooth Imitation Learning for Online Sequence Prediction</b><br>
<i>International Conference on Machine Learning (ICML)</i>,
2016

<br />
<a href="http://proceedings.mlr.press/v48/le16.html" target="_blank">[PDF]</a> <a href="../papers/icml2016_simile_long.pdf" target="_blank">
[long]</a> 
<a href="javascript:toggleBibtex('le2016smooth')">[BibTeX]</a>
</p>
<div id="bib_le2016smooth" class="bibtex noshow">
<pre>
@inproceedings{le2016smooth,
  title={Smooth Imitation Learning for Online Sequence Prediction},
  author={Le, Hoang and Kang, Andrew and Yue, Yisong and Carr, Peter},
  booktitle={International Conference on Machine Learning},
  pages={680--688},
  year={2016}
}</pre>
</div>
</li>


<!-- Item: chen2016learning -->
<li ><p>
<a href="https://sites.google.com/site/jimmyjianhuichenhomepage/" target="_blank">Jianhui Chen</a>, Hoang M. Le, 
<a href="https://www.linkedin.com/in/peter-carr-b4665211/" target="_blank">Peter Carr</a>, <a href="http://www.yisongyue.com/index.php" target="_blank">Yisong Yue</a> and 
<a href="http://www.cs.ubc.ca/~little/" target="_blank">James J. Little</a>
<br><b>Learning Online Smooth Predictors for Real-time Camera Planning using Recurrent Decision Trees</b><br>
<i>Computer Vision and Pattern Recognition (CVPR)</i>,
2016
<br />
<i><font color="#e77f00">(Oral Presentation)</font> </i>
<br />
<a href="../papers/cvpr2016_online_smooth_long.pdf" target="_blank">[PDF]</a> <a href="https://phys.org/news/2016-06-human-camera-automated-sports.html" target="_blank">
[Press Release]</a> 
<a href="javascript:toggleBibtex('chen2016learning')">[BibTeX]</a>
</p>
<div id="bib_chen2016learning" class="bibtex noshow">
<pre>
@inproceedings{chen2016learning,
  title={Learning online smooth predictors for realtime camera planning using recurrent decision trees},
  author={Chen, Jianhui and Le, Hoang M and Carr, Peter and Yue, Yisong and Little, James J},
  booktitle={Proceedings of the IEEE Conference on Computer Vision and Pattern Recognition},
  pages={4688--4696},
  year={2016}
}</pre>
</div>
</li>
</ul>
    
    

<h4 style="margin-bottom:0px;padding-top:10px;"> <font size="+1"> Pending Patents </font> </h4>

<!-- Generated from JabRef by PubList by Truong Nghiem at 10:08 on 2017.01.16. -->
<ul class="biblist">

<!-- Item: Farre2017 -->
<li ><p>
<a href="https://www.linkedin.com/in/peter-carr-b4665211/" target="_blank">George Peter Kenneth Carr</a>,
Hoang M. Le,
<a href="http://www.yisongyue.com/" target="_blank">Yisong Yue</a>
<br>
<b>Data-Driven Ghosting Using Deep Imitation Learning</b><br>
[patent pending]

</li>

</ul>

    
    
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>